{
email letsencrypt@cadot.eu
acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

scripts.localhost {
encode gzip zstd
reverse_proxy localhost:
header {
Cache-Control public, max-age=31536000
}
}

